<%= form_with model: user, class: "bg-white shadow-sm outline outline-1 outline-gray-900/5 sm:rounded-xl md:col-span-2 dark:bg-gray-800/50 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10" do |f| %>

  <div class="px-4 py-6 sm:p-8">

		<% if user.errors.any? %>
			<div class="bg-red-50 border border-red-200 text-red-700 p-3 my-6 rounded">
				<ul class="list-disc ml-5 text-sm">
					<% user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

			<div class="sm:col-span-4">
				<%= f.label :name, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
				  <%= f.text_field :name, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" %>
				</div>
			</div>

			<div class="sm:col-span-4">
				<%= f.label :email, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
				  <%= f.email_field :email, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" %>
			  </div>
			</div>

			<div class="sm:col-span-4">
				<%= f.label :employee_id, "Employee ID", class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
				  <%= f.text_field :employee_id, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" %>
			  </div>
			</div>

			<div class="sm:col-span-4">
				<%= f.label :role, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2 grid grid-cols-1">
					<%= f.select :role,
							User.roles.keys.map { |r| [r.titleize, r] },
							{},
							class: "col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-blue-500" %>
				  <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
						<path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
					</svg>
				</div>
			</div>

      <!--
			<div class="sm:col-span-4">
				<%= f.label :image_url, "Profile Image URL", class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
				  <%= f.text_field :image_url, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500", placeholder: "https://example.com/avatar.jpg" %>
				</div>
			</div>
      -->

			<div class="sm:col-span-3">
				<%= f.label :password, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
					<%= f.password_field :password, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" %>
				</div>
			</div>

			<div class="sm:col-span-3">
				<%= f.label :password_confirmation, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
				<div class="mt-2">
					<%= f.password_field :password_confirmation, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" %>
				</div>
			</div>
		</div>
	</div>

  <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8 dark:border-white/10">
    <%= f.submit class: "rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 dark:bg-blue-500 dark:shadow-none dark:hover:bg-blue-400 dark:focus-visible:outline-blue-500" %>
  </div>

<% end %>
